In [39]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
data=pd.read_csv("Datasets/train.csv").as_matrix()
data1=pd.read_csv("Datasets/test.csv").as_matrix()
X=data[:,1:]
Y=data[:,0]
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=1)
alg=RandomForestRegressor()
alg.fit(x_train,y_train)
alg.score(x_test,y_test)
X=data1
Y=alg.predict(X)
ind=[]
for i in range(1,len(Y)+1):
    ind.append(i)
print(len(ind))
res=pd.DataFrame({"ImageId":ind})
dat=pd.read_csv("Datasets/train.csv")

C:\Users\varun\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

C:\Users\varun\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  import sys
C:\Users\varun\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

28000

In [53]:
res["Label"]=Y.astype(int)
res.to_csv("Datasets/MNIST1.csv",index=False)
res

       ImageId  Label
0            1      2
1            2      0
2            3      8
3            4      7
4            5      3
...        ...    ...
27995    27996      7
27996    27997      7
27997    27998      3
27998    27999      8
27999    28000      2

[28000 rows x 2 columns]